* {
  box-sizing: border-box;
}

#form-heading {
  padding: 6px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 0px !important;
}

/* Removing bullets from ul */
.weather-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

#today-forecast-div {
  border: 1px solid black;
  padding: 20px;
  line-height: 2rem;
}

.forecast-heading {
  display: block;
}

.forecast-container {
  /* display: flex; */
  justify-content: space-between;
  margin: 0px;
}
.card {
  height: 95%;
  font-size: 1rem;
  width: 100%;
}

.day {
  padding: 20px;
  background-color: rgba(2, 17, 30, 0.788);
  color: white;
  margin-bottom: 10px;
  border-radius: 0%;
  /* text-align: left !important; */
  line-height: 2rem;
}

.location-btn {
  margin: 5px;
}

.forecast-heading {
  padding: 20px;
}

.location-btn {
  background-color: grey;
  border-color: grey;
  color: black;
}

.weather-header {
  background-color: rgb(45, 81, 198);
  background-image: linear-gradient(
    to right,
    rgb(71, 92, 228),
    rgb(4, 5, 88)
  ) !important;
}

/* #history {
  border-top: 1px solid grey;
  padding-top: 20px;
} */

.weather-hr {
  border-color: rgba(0, 0, 0, 0.411) !important;
}

.input-group {
  width: 100% !important;
  display: block;
  margin: 5px;
}

.search-button,
.form-input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px !important;
}

#search-input {
  line-height: 1.5rem !important;
  padding: 10px;
  border: solid black 1px;
}
